/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

#cocktail-list {
  padding: 50px;
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
  }
}
