// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  .card {
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin: 50px 0 20px 0;
    #cocktail-name{
      margin: 0 0 25px 0;
      text-align: center;
    }
    #doseslist {
      text-align: left;
      line-height: 40px;
      i {
        margin-right: 30px;
      }
    }
  }
  ul {
    list-style: none;
  }
}

#back {
  margin: 75px 0 0 0;
}
